body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 30%;
  padding: 20px;
  background-color: #122562;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
  color: white;
}

img {
  border-radius: 50%;
  width: 150px;
}

h3, #contactos,p,ol {
  text-align: left;
}

ol {
  margin: 0px;
  padding-left: 20px;
}

.right-container {
  width: 70%;
  padding: 20px;
  background-color: white;
  color: #122562;
}

h1 {
  margin: 0px;
}

h2 {
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
